@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #212121;
}
.main-header {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
}
.create-form label {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.link {
  color: whitesmoke !important;
  font-style: bold;
  font-family: 'Monstserrat', sans-serif;
  font-weight: 600;
}
